.beach_walk{
    position:absolute;
    width:auto;
    height:40%;
    animation-name: path-animation;
    animation-direction: alternate;
    animation-duration: 15s;
    transform: translate(-50%, -90%);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index:3;
}

@keyframes path-animation {
        0%{
            left:7%;
            top:56%;
        }
        7%{
            left:7%;
            top:56%;
        }
        21%{
            left:21%;
            top:72%;
        }
        35%{
            left:35%;
            top:55%;
        }
        41%{
            left:41%;
            top:56%;
        }
        45%{
            left:45%;
            top:77%;
        }
        53%{
            left:53%;
            top:71%;
        }
        60%{
            left:60%;
            top:54%;
        }
        63%{
            left:63%;
            top:35%;
        }
        71%{
            left:71%;
            top:26%
        } 
        79%{
            left:79%;
            top:37%;
        }
        86%{
            left:86%;
            top:49%;
        }
        89%{
            left:89%;
            top:42%
        }
        92%{
            left:92%;
            top:34%
        }
        95%{
            left:95%;
            top:26%
        }
        100%{
            left:95%;
            top:26%
            }   
    }