/*Alles om de golfjes te animeren*/
 .wave{
    position:absolute;
    bottom:70vh;
    height:10vh;
    background:#0082EA;
    width: 10px;
    z-index: 3;
    animation-name: wave;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.wavetwee{
    position:absolute;
    bottom:70vh;
    height:10vh;
    background:#00AABB;
    width: 10px;
    z-index: 2;
    animation-name: wave;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#sky{
    z-index: 1;
    position:absolute;
    top:0vh;
    left:0px;
    width:100vw;
    height:30vh;
    background-color: white;
}

@keyframes wave{
    from{
        height:10vh;
    }
    to{
        height:25vh;
    }
}

/*Alles om de mijn te animeren*/

.mine_container{
    top:40vh;
    left:80vh;
    z-index:4;
    transform: scale(0.5, 0.5);
}

/*vis*/
.vis_container{
    top:40vh;
    left:20vh;
    z-index:4;
}