#drie{
    display:flex;
    width:100%;
    overflow:hidden;
}

#drie .container-left{
    width:250px;
    height:100vh;
    z-index: 3;
}

#drie .container-left .container-left-top{
    width:250px;
    height:80%;
}

.menuLeft{
    width:240px;
    height:450px;
    margin-top:40px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 47%, #207cca 47%, #2989d8 60%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 47%,#207cca 47%,#2989d8 60%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 47%,#207cca 47%,#2989d8 60%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 40px;
    box-shadow: 0px 0px 10px 5px #144987;
    margin-left:10px;
}

.bombsAmount, .timer{
    width:100%;
    height: 150px;
    display:flex;
}

.time{
    margin:auto;
    font-family: sevenSegment;
    font-size:4em;
    color:lawngreen;
    background: black;
    border:2px outset lawngreen;
    border-radius: 5px;
    min-width:170px;
    text-align: center;
}

#drie .container-left .container-left-bottom{
    width:250px;
    height:20%;
    position:absolute;
    left:0;
    bottom:0;
}

.sub{
    width:1635px;
    height:357px;
    background:url("../img/sub.png") no-repeat;
    background-size:contain;
    left:-286px;
    bottom:98.3px;
    position: absolute;
    transform: rotate(-23deg);
    z-index: 2;
}

.sublight{
    background: -moz-radial-gradient(50% -50%, cover, #2989d8 0%, #207cca 35%, rgb(0, 0, 50) 55%, rgb(0, 0, 50) 100%);
    background: -webkit-radial-gradient(50% -50%, cover, #2989d8 0%, #207cca 35%, rgb(0, 0, 50) 55%, rgb(0, 0, 50) 100%);
    background: -ms-radial-gradient(50% -50%, cover, #2989d8 0%, #207cca 35%, rgb(0, 0, 50) 55%, rgb(0, 0, 50) 100%);
    background: -o-radial-gradient(50% -50%, cover, #2989d8 0%, #207cca 35%, rgb(0, 0, 50) 55%, rgb(0, 0, 50) 100%);
    background: radial-gradient(50% -50%, cover, #2989d8 0%, #207cca 35%, rgb(0, 0, 50) 55%, rgb(0, 0, 50) 100%);
    width:981px;
    height:697px;
    position: absolute;
    transform: rotate(62deg);
    left:-263px;
    bottom:-50px;
}

#drie .container-right{
    width:800px;
    height:100vh;
    display:flex;
    z-index:2;
}

#drie .container-right .menu{
    width:600px;
    height:625px;
    margin-bottom:180px;
    margin-left:120px;
    margin-top:auto;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 47%, #207cca 47%, #2989d8 60%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 47%,#207cca 47%,#2989d8 60%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 47%,#207cca 47%,#2989d8 60%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 40px;
    box-shadow: 0px 0px 10px 5px #144987;
    position:relative;
}

#drie .container-right .menu .navbar, .newGameNav{
    width:100%;
    height:15%;
    display:flex;
    justify-content: space-between;
}

.newGame, .continue, .highscores{
    width:33%;
    height:100%;
    display: flex;
}

.newGame{
    border-top-left-radius: 34px;
    border-right: 1px solid #092647;
}

.continue{
    width:34%;
    border-left:1px solid #092647;
    border-right: 1px solid #092647;
    border-bottom:2px solid #092647;
}

.highscores{
    border-top-right-radius: 34px;
    border-left:1px solid #092647;
    border-bottom:2px solid #092647;
}

.header{
    text-align: center;
    margin:auto;
    font-family: fipps;
    color:black;
}

.hover{
    zoom: 120%;
    cursor:pointer;
    text-shadow: 0px 0px 10px lightblue;
}

.menuContent{
    width:100%;
    height:85%;
    display:flex;
    flex-direction: column;
}

.menuNewGame #rows, .menuNewGame #cols, .menuNewGame #bombs {
    border-radius: 8px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]{
    width:70px;
    height:30px;
    font-family: 'PT Mono', monospace;
}

.lbl{
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

.btnContainer{
    display:flex;
    width:100%;
    flex-direction: column;
}

.newGameNav{
    padding: 20px;
}

.menuNewGame{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.btnplay{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 35px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 70px;
    margin:auto;
    position: relative;
    width: 180px;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    cursor: pointer;
}

.btnplay:after{
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 200px;
    cursor: pointer;
}

.newGameBtn{
    width:150px;
}

.menuBtn{
    width:125px;
    margin-bottom:20px;
    margin-top:20px;
}

.generate:after{
    content: "Generate";
    left: 21px;
    top: 16px;
}

.hervatten{
    width: 240px;
}
.hervatten:after{
    content: "Hervatten";
    left: 21px;
    top: 16px;
}

.menuBtn:after{
    content: "Menu";
    left: 21px;
    top: 16px;
}

.newGameBtn:after{
    content: "Restart";
    left: 21px;
    top: 16px;
}

.btnplay:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.generate:hover:after, .newGameBtn:hover:after, .menuBtn:hover:after, .hervatten:hover:after{
    color:#1064ea;
    text-shadow:0px 0px 6px #1064ea;
}

.btnplay:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.btnplay:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

#error{
    font-weight:bold;
    color:red;
}

.hidden{
    visibility: hidden;
}

.gone{
    display: none;
}

#mineSweeperTable{
    width:600px;
    height:625px;
    margin-bottom:180px;
    margin-left:120px;
    margin-top:auto;
    background: #144987; 
    box-shadow: 0px 0px 10px 5px #144987;
    position:relative;
    border-spacing: 0px;
}

#mineSweeperTable td{
    background: #207cca;
    border:1px solid #1f3860;
    width:20px;
    height:20px;
    text-align: center;
    cursor:default;
}

.bombsAmount{
    flex-direction: column;
    height:100px;
}

.bombsAmountText{
    font-family: 'PT Mono', monospace;
    font-weight:bold;
    font-size:1.5em;
    margin:20px auto 0px auto;
}

.bombsAmountNrContainer{
    width:100%;
    height:44%;
    display: flex;
}

.bombsAmountImg{
    width:45px;
    height:45px;
    background:url(../img/bom.png) 50% 50% / contain no-repeat;
    margin-left:auto;
}

.bombsAmountNr{
    width:50%;
    height: 100%;
    display:flex;
}

.bombsAmountNrText{
    font-family: 'PT Mono', monospace;
    font-weight:bold;
    font-size:1.5em;
    margin:auto auto 4px 0px;
}

/*
    ====== mijnveger tabs ======
*/

#menuContinue, #menuHighscores{
    display: none
}


/*
    * continue - tab
*/
#continueGameContainer{
    padding: 10%;
    margin: auto;
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}
#title{
    font-size: 18px;
    font-weight: bold;
}
.board{
    height: 300px;
    width: 300px;
    background: rgba( 255, 255, 255, 0.1);
    border: solid 1px #fff;
    margin: 10px;
} 
#date{
    margin-bottom: 10px
}
/*
    * highscores - tab
*/

#highscoreGameContainer{
    margin: auto;
    padding: 10%;
}

#highscoreGameContainer table:nth-child(1){
    margin: 0 0 10px 0;
}
#highscoreGameContainer table:nth-child(2){
    width: 100%;
    color: #fff;
}
#highscoreGameContainer table:nth-child(2){
    font-weight: bold;
}




input, select {
    padding: 5px;
}