#drie{
    display:flex;
    width:100%;
}

#drie .container-left{
    width:20%;
    height:100vh;
}

#drie .container-right{
    width:80%;
    height:100vh;
    display:flex;
}

#drie .container-right .menu{
    width:65%;
    height:70%;
    margin:auto;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 47%, #207cca 47%, #2989d8 60%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 47%,#207cca 47%,#2989d8 60%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 47%,#207cca 47%,#2989d8 60%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 40px;
    box-shadow: 0px 0px 10px 5px #144987;
}

#drie .container-right .menu .navbar, .newGameNav{
    width:100%;
    height:15%;
    display:flex;
    justify-content: space-between;
}

.newGame, .continue, .highscores{
    width:33%;
    height:100%;
    display: flex;
}

.newGame{
    border-top-left-radius: 34px;
    border-right: 1px solid #092647;
}

.continue{
    width:34%;
    border-left:1px solid #092647;
    border-right: 1px solid #092647;
    border-bottom:2px solid #092647;
}

.highscores{
    border-top-right-radius: 34px;
    border-left:1px solid #092647;
    border-bottom:2px solid #092647;
}

.header{
    text-align: center;
    margin:auto;
    font-family: fipps;
    color:black;
}

.hover{
    zoom: 120%;
    cursor:pointer;
    text-shadow: 0px 0px 10px lightblue;
}

.menuContent{
    width:100%;
    height:85%;
    display:flex;
    flex-direction: column;
}

.menuNewGame #rows, .menuNewGame #cols, .menuNewGame #bombs {
    border-radius: 8px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]{
    width:70px;
    height:30px;
    font-family: 'PT Mono', monospace;
}
.btnPlay{
    width:150px;
    height:60px;
    margin:auto;
}

.lbl{
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

.btnContainer{
    display:flex;
    width:100%;
}

.newGameNav{
    padding: 20px;
}

.menuNewGame{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.button{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 70px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 70px;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.button:after{
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}


.heart:after{
    content: "❤";
    left: 21px;
    top: 16px;
}

.button:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.heart:hover:after{
    color:#f94e66;
    text-shadow:0px 0px 6px #f94e66;
}

.button:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}