#twee{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: solid 1px #ff0000;
}

.portfolio_list{
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
}

#twee label{
    width: 120%;
    padding: 20px;
    margin: 5px;
    display: flex;
    font-size: 10px;
    flex-direction: row;
    justify-content: space-between;
    /*border: solid 1px #fff;*/
}

#twee label a{
    padding: 5px;
    color: #fff;
}

.icons > a{
    font-size: 18px;
}

.icons > a >:hover{
    color: lightblue
}