- var animatie = ['mine_een', 'mine_twee', 'mine_drie', 'mine_vier', 'mine_vijf', 'mine_zes', 'mine_zeven', 'mine_acht']; 
- var anim;
#sky
//Mine opmaak
.mine_container
    .mine_body_container
        .mine_body_outer
        .mine_body_outer_eye
        .mine_body_inner_eye
            .mine_body_inner_eye_shine
    - for(var i = 0; i < 8; i++){
        .mine_spike_container(id=animatie[i])
            .mine_spike_base
            .mine_spike_cone
            .mine_spike_nose.anim_een
    - }

//Vis opmaak
.vis_container
    .vis_head
        .vis_eye.blink
        .vis_eye2.blink2
        .vis_mouth
    img(src="img/beard.png" class="vis_beard")
    .vis_upper_fin
    .vis_body
        .vis_side_fin.fin1
    .vis_tail.fin2
    .bubble.big
    .bubble.big2
    .bubble.small

