script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="js/waves.js")
script(src="js/objects.js")
script(src="js/placeholder.js") 
script(src="js/mijnveger.js") 
script(src="js/smoothscroll.js")
script(src="js/tabs.js")
script(src="js/bubble.js")


