script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="js/waves.js")
script(src="js/objects.js")
script(src="js/placeholder.js") 
script(src="js/mijnveger.js") 
<<<<<<< HEAD
script(src="js/bubble.js") 
=======
script(src="js/deepsea.js")
script(src="js/smoothscroll.js")
>>>>>>> 094c12cd19c3da13745f7c2b3f1b2c27ad9adfa9
