.container-left
    .container-left-top
        #menuLeft.menuLeft.hidden
            .timer
                .time#time 0.0
            .bombsAmount 
                .bombsAmountText Bombs left:
                .bombsAmountNrContainer
                    .bombsAmountImg
                    .bombsAmountNr 
                        .bombsAmountNrText#bombsAmount
            .btnContainer
                a(onclick="backToMenu()" class="btnplay menuBtn")
                a(onclick="init()" class="btnplay newGameBtn")  
.container-right#container-right
    .menu#menu
        .navbar
            .newGame#newGame 
                h4.header New Game
            .continue#continue
                h4.header Continue
            .highscores#highscores
                    h4.header Highscores
        .menuContent#menuContent
            .menuNewGame#menuNewGame
                .newGameNav
                    .rows
                        label.lbl Rows:
                        input(type="number" value="10" min="3" max="30")#rows
                    .cols
                        label.lbl Columns:
                        input(type="number" value="10" min="3" max="30")#cols
                    .bombs
                        label.lbl Bombs:
                        input(type="number" value="10" min="1" max="800")#bombs
                #error.hidden
                .btnContainer
                    a(onclick="generate()" class="btnplay generate")
            .menuContinue#menuContinue
                h1 continue
            .menuHighscores#menuHighscores 
                h1 highscores
.floor_container
    .floor#floor_een
    .container-left-bottom
        .sublight#light
        .sub
    .floor#floor_twee
    img#beach_walk(src="https://68.media.tumblr.com/75beab408ae221ae3c6214a4f4ac3ccb/tumblr_nxhhg5lcE61qkuwvto1_400.gif")