.container-left
    .container-left-top
        #menuLeft.menuLeft.hidden
            .timer
                .time#time 0.0
            .bombsAmount 
                .bombsAmountText Bombs left:
                .bombsAmountNrContainer
                    .bombsAmountImg
                    .bombsAmountNr 
                        .bombsAmountNrText#bombsAmount
            .btnContainer
                a(onclick="backToMenu()" class="btnplay menuBtn")
                a(onclick="init()" class="btnplay newGameBtn")  
.container-right#container-right
    .menu#menu
        .navbar
            .newGame#newGame 
                h4.header New Game
            .continue#continue
                h4.header Continue
            .highscores#highscores
                h4.header Highscores
        .menuContent#menuContent
            .menuNewGame#menuNewGame
                .newGameNav
                    .rows
                        label.lbl Rows:
                        input(type="number" value="10" min="3" max="30")#rows
                    .cols
                        label.lbl Columns:
                        input(type="number" value="10" min="3" max="30")#cols
                    .bombs
                        label.lbl Bombs:
                        input(type="number" value="10" min="1" max="800")#bombs
                #error.hidden
                .btnContainer
                    a(onclick="generate()" class="btnplay generate")
            .menuContinue#menuContinue
                #continueGameContainer
                    #title Wens je dit spel te hervatten ?
                    .board  
                    #date Je hebt dit spel gespeeld op .../.../...
                    a( id="continue" class="btnplay hervatten" )
            .menuHighscores#menuHighscores 
                #highscoreGameContainer
                    table(colspan="0" rowspan="0")
                        th
                            td
                                input( type="text" id="spelerNaam" placeholder="speler naam" )
                            td
                                select( id="spelerConfig" )
                                    option(value="0") -- configuratie --
                                    option(value="3x3") 3 x 3
                                    option(value="5x5") 5 x 5
                                    option(value="10x10") 10 x 10
                            td
                              input( type="button" id="zoeken" value="zoek"  )  
                    table(colspan="0" rowspan="0" border="0")
                        thead
                            th Speler
                            th Configuratie
                            th Tijd
                        tbody(id="highscoresTable")
    #dialog
        br
        h4#tableValues.white
        br
        br
        label.lbl.white Submit your score:
        input( type="text" id="playerName" placeholder="Name" ).lbl.dialogInput
.floor_container
    .floor#floor_een
    .container-left-bottom
        .sublight#light
        .sub
    .floor#floor_twee
    img#beach_walk(src="https://68.media.tumblr.com/75beab408ae221ae3c6214a4f4ac3ccb/tumblr_nxhhg5lcE61qkuwvto1_400.gif")