.container-left
.container-right
    .menu
        .navbar
            .newGame 
                h3.header New Game
            .continue 
                h3.header Continue
            .highscores 
                h3.header Highscores