.container-left
    .container-left-top
        #menuLeft.menuLeft.hidden
            .timer
                .time#time 0.0
            .bombsAmount 
                .bombsAmountText Bombs left:
                .bombsAmountNrContainer
                    .bombsAmountImg
                    .bombsAmountNr 
                        .bombsAmountNrText#bombsAmount
            .btnContainer
                a(onclick="backToMenu()" class="btnplay menuBtn")
                a(onclick="init()" class="btnplay newGameBtn")  
.container-right#container-right
    .menu#menu
        .navbar
            .newGame#newGame 
                h4.header New Game
            .continue#continue
                h4.header Continue
            .highscores#highscores
                h4.header Highscores
        .menuContent#menuContent
            .menuNewGame#menuNewGame
                .newGameNav
                    .rows
                        label.lbl Rows:
                        input(type="number" value="10" min="3" max="30")#rows
                    .cols
                        label.lbl Columns:
                        input(type="number" value="10" min="3" max="30")#cols
                    .bombs
                        label.lbl Bombs:
                        input(type="number" value="10" min="1" max="800")#bombs
                #error.hidden
                .btnContainer
                    a(onclick="generate()" class="btnplay generate")
            .menuContinue#menuContinue
                #continueGameContainer
                    #title Wens je dit spel te hervatten ?
                    .board  
                    #date Je hebt dit spel gespeeld op .../.../...
                    a( id="continue" class="btnplay hervatten" )
            .menuHighscores#menuHighscores 
                #highscoreGameContainer
                    table(colspan="0" rowspan="0")
                        th
                            td
                                input( type="text" id="spelerNaam" placeholder="Player name" oninput="nameKeypress()")
                            td
                                select( id="spelerConfig" onchange="playerConfigChange()")
                                    option(value="0") -- select a config --
                            td &nbsp;OR&nbsp;
                            td
                                select( id="selectConfig" )
                                    option(value="0") -- configuration --
                        tr
                            td
                            td.flex
                                input( type="button" id="zoekenNaam" value="search by name" onclick="zoek('naam')" disabled)
                            td
                            td  
                            td.flex
                                input( type="button" id="zoekenConfig" value="search by config" onclick="zoek('config')")
                    table(colspan="0" rowspan="0" border="0")#scoresTable
                        thead
                            th Player
                            th Configuration
                            th Time
                        tbody(id="highscoresTable")
    #dialog.gone
        br
        h4#tableValues.white
        br
        br
        label.lbl.white Submit your score:
        input( type="text" id="playerName" placeholder="Name" ).lbl.dialogInput
.floor_container
    .floor#floor_een
    .container-left-bottom
        .sublight#light
        .sub
    .floor#floor_twee
    img#beach_walk(src="https://68.media.tumblr.com/75beab408ae221ae3c6214a4f4ac3ccb/tumblr_nxhhg5lcE61qkuwvto1_400.gif")