table(border="1")
    each val in ['wouter cox', 'Hans Hendrickx', 'Iwan Kimpe', 'Steven Leysen', 'Peter Melis', 'Kevin Olzack', 'Senne Peeters', 'Samir Sebaoui', 'Jeroen Van Hoof', 'Max Verheyen']
        tr
            td=val