link(rel="stylesheet" href="css/normalize.css")
link(rel="stylesheet" href="css/style.css")

//Intro stylesheets

link(rel="stylesheet" href="css/mijn_opmaak.css")
link(rel="stylesheet" href="css/intro.css")
link(rel="stylesheet" href="css/vis.css")
link(rel="stylesheet" href="css/vis_anim.css")

link(rel="stylesheet" href="css/vis_cont_anim.css")

// portfolio
link(rel="stylesheet" href="css/portfolio.css")
link(rel="stylesheet" href="css/font-awesome.css")
// mijnveger 
link(rel="stylesheet" href="css/mijnveger.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono")



 



