
@keyframes move{
    from{left:500px;}
    to{left:-50px;}
}

@keyframes bubble_anim1{
    from{
        opacity:0.5;
        top:85px;
    }
    to{
        top:70px;
          opacity:0.3;
    }
}


@keyframes back_fin{
    0%{
       transform: skewY(0deg);
    }
    20%{
       transform: skewY(10deg); 
    }
    40%{
        transform: skewY(0deg)
    }
    60%{
        transform: skewY(-10deg);
    }
    80%{
        transform: skewY(0deg);
    }
    100%{
        transform: skew(0deg);
    }
}

@keyframes bublle_anim2{
    from{
    opacity:0.3;
    top:85px;
    }
    to{
        top:50px;
        opacity:0.1;
    }
}

@keyframes blink{
    0%{
        top:0px;
        right:50px;
        border:10px white solid;
        height: 10px;
    }
    40%{
       top:0px;
        right:50px;
        border:10px white solid;
        height:10px;
    }
    50%{
        top:15px;
        right:60px;
        border:0px white solid;
        height:0px;
    }
    60%{
        top:0px;
        right:50px;
        border:10px white solid;
        height: 10px;
    }
}

@keyframes blink2{
    0%{
        top:45px;
        right:50px;
        border:10px white solid;
        height: 10px;
    }
    40%{
       top:45px;
        right:50px;
        border:10px white solid;
        height:10px;
    }
    50%{
        top:60px;
        right:60px;
        border:0px white solid;
        height:0px;
    }
    60%{
        top:45px;
        right:50px;
        border:10px white solid;
        height: 10px;
    }
}