doctype
html
    head
        title Eindwerk
        meta(encoding="UTF-8")
        include import/stylesheet
    body
        #background
            .container
                include import/intro
            .container
                include import/portfolio
            .container
                include import/mijnveger