doctype
html
    head
        title Eindwerk
        meta(encoding="UTF-8")
        include import/stylesheet
    body
        #background
            canvas#boil
            #een.container
                include import/intro
            #twee.container
                include import/portfolio
            #drie.container
                include import/mijnveger
    include import/javascript